/* All page style */

body {
    background-color: black;
}

* {
    color: white
}

/* Navbar styling */

.navbar-item {
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
}

#navbar {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 50px;
    background-color: rgb(33, 24, 24);
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
}

footer {
    border-radius: 5px;
    padding: 5px;
    margin: 10px 50px;
    background-color: rgb(33, 24, 24);
    text-align: center;
    bottom: 0;
}

.title {
    margin: 50px;
    padding: 200px;
    overflow: hidden;
}

article {
    background-image: url('reference/firstPrint.jpg');
    background-size: 500px 650px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Word Styling */

h1{
    font-size: 40px;
    font-family: 'Great Vibes';
    letter-spacing: 2px;
    overflow: visible;
}

h2{
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Cinzel';
    letter-spacing: 6px;
    overflow: visible;
}

h1, h2, p{
    text-align: center;
}


div.display {
    display: inline-block;
}

/* Social Media */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #icons {
      text-align: center;
  }
